In [1]:
import pandas as pd

In [2]:
import pyarrow.parquet as pq

In [3]:
from sqlalchemy import create_engine

In [4]:
table = pq.read_table('/workspaces/de-zoomcamp-work/data/yellow_tripdata_2021-01.parquet')

In [12]:
df_sample = table.slice(0, 10).to_pandas()

In [13]:
df_sample.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [20]:
df_sample.tpep_dropoff_datetime = pd.to_datetime(df_sample.tpep_dropoff_datetime)

In [21]:
df_sample.tpep_pickup_datetime = pd.to_datetime(df_sample.tpep_pickup_datetime)

In [22]:
print(pd.io.sql.get_schema(df_sample, name='ny_taxi_data'))

CREATE TABLE "ny_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
parquet_file = pq.ParquetFile('/workspaces/de-zoomcamp-work/data/yellow_tripdata_2021-01.parquet')

In [9]:
print(f"Number of row groups: {parquet_file.num_row_groups}")
print(f"Number of rows: {parquet_file.metadata.num_rows}")

Number of row groups: 1
Number of rows: 1369769

In [10]:
batch_size = 100000

In [11]:
first_batch = True
rows = 0

for batch in parquet_file.iter_batches(batch_size=batch_size):
    df_batch = batch.to_pandas()

    if first_batch :
        df_batch.to_sql('ny_taxi_data', engine, if_exists='replace', index=False)
        first_batch = False
        print(f"Created table with first batch: {len(df_batch)} rows")
    else:
        df_batch.to_sql('ny_taxi_data', engine, if_exists='append', index=False)
        print(f"Inserted batch: {len(df_batch)} rows")

    rows += len(df_batch)

print(f"Total rows inserted: {rows}")

Created table with first batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 100000 rows
Inserted batch: 69769 rows

NameError: name 'total_rows' is not defined